@model PizzaOnLine.Models.OrderConfirm

@inject PizzaOnLine.Services.CartService cartSe


<h3>Thanks For Your Order</h3>

<div>
    @if (User.Identity.IsAuthenticated)
    {
        <div>
            @Model.User.FirstName
        </div>
        <div>
            @Model.User.LastName
        </div>
        <div>
            @foreach (var item in Model.CartItems)
            {
            @item.Dish.Name
            @item.Dish.Price


            }
        </div>
    }

    else
    {
        <table>
            <tr><td>@Model.Order.FirstName</td></tr>
            <tr><td>@Model.Order.LastName</td></tr>
            <tr><td>@Model.Order.ShippingAddress</td></tr>
            <tr><td>@Model.Order.PostalCode</td></tr>
            <tr><td>@Model.Order.City</td></tr>
            <tr><td>@Model.Order.Email</td></tr>
            <tr><td>@Model.Order.PhoneNumber<br /><br /></td></tr>
            <tr><td>@Model.Order.CardName</td></tr>
            <tr><td>@Model.Order.CardNumber</td></tr>
            <tr><td>@Model.Order.MMYY</td></tr>
            <tr><td>@Model.Order.CVC</td></tr>

            @{ 
                decimal totalPrice = 0;
            }
            @foreach (var item in Model.Order.CartItem)
            {
                {
                    var cartitemprice = cartSe.CartItemPrice(item.CartItemId);

                    totalPrice += cartitemprice;
                }

                <tr><th>@item.Dish.Name</th></tr>
                <tr><td>@cartSe.CartItemPrice(item.CartItemId)</td></tr>
                <tr></tr>
                
            }

        </table>
        @totalPrice
    }
</div>

@*@cartSe.CalculetPrisOrder(Model.Order.CartItem.Select(x=> x.CartItemId))*@