@model IEnumerable<PizzaOnLine.Models.Category>
@inject PizzaOnLine.Services.IngredientService ingredent

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>


<div>
    @*@foreach (var cat in Model)
    {
        <hr />
       <p>@cat.Name</p>
        @foreach (var item in cat.dishes)
        {
            <hr />
            @Html.DisplayFor(modelItem => item.Name)
            @item.Price
            @ingredent.IngredentByDish(item.DishId)
            <a asp-action="Edit" asp-route-id="@item.DishId">Edit</a> 
            <a asp-action ="Details" asp-route-id = "@item.DishId" > Details </a >
            <a class="btn btn-default" asp-controller="CartItems" asp-action="AddToCart" asp-route-id="@item.DishId" >
                <span class="glyphicon glyphicon-shopping-cart"></span> Add to Cart
            </a>


        }
    }*@
</div>

    <table class="table">
            <thead>
                <tr>
                        <th>
                            Name
                        </th>
                        <th>
                          Price
                        </th>
                    <th>
                        Category
                    </th>
                         
                    <th>
                       Ingerdents
                    </th>
                </tr>
            </thead>
           
@foreach (var cat in Model)
   
    {
    <tbody>
@foreach (var item in cat.dishes)
{


                <tr>
                   

                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                  </td>           

                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                      @Html.DisplayFor(modelItem => item.Category.Name)
                       </td>
                    <td>
                       <span>@ingredent.IngredentByDish(item.DishId)</span> 
                    </td>
                    <td>
                        <a class="btn btn-default" asp-controller="CartItems" asp-action="AddToCart" asp-route-id="@item.DishId">
                            <span class="glyphicon glyphicon-shopping-cart"></span>Add to Cart
                        </a>
                            <a asp-action="Edit" asp-route-id="@item.DishId">Edit</a>
                            <a asp-action="Details" asp-route-id="@item.DishId">Details</a>
</td>
                    @if (User.IsInRole("Admin"))
                    {
                        <td>
                         
                            <a asp-action="Details" asp-route-id="@item.DishId">Details</a> 
                            <a asp-action="Delete" asp-route-id="@item.DishId">Delete</a>
                        </td>
                    }
                    

                </tr>

}

    </tbody>
}
        </table>
