@model IEnumerable<PizzaOnLine.Models.Cart>
@{
    ViewData["Title"] = "Index";
}
<h2>Index</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cartitems)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                
                    @foreach (var itemName in item.Cartitems)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => itemName.Dish.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => itemName.Dish.Price)
                        </td>
                    }
                
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CartId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CartId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CartId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
