@model PizzaOnLine.Models.Cart
@inject PizzaOnLine.Services.CartService cartSe
@inject PizzaOnLine.Services.IngredientService ingredent
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                   Quantity
                </th>
                <th>
                   DishsName
                </th>
                <th>
                    DishPrice
                </th>
            <th>
                Cart
            </th>
            <th>
                Dish
            </th>
            <th>
                Ingredent
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Cartitems) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DishsName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DishPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cart.CartId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dish.DishId)
            </td>
            <td>
              @cartSe.IngredentByCartItem(item.CartItemId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CartItemId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CartItemId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CartItemId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
